
#profile {
    float: left;
    position: relative;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba(0, 85, 255, 0.1);
    height: 500px;
}
#profile .content .title{
    float: left;
    position: relative;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
#profile .content .icon{
    float: left;
    position: relative;
    width: 180px;
    padding: 10px;
}
#profile .content .about{
    float: left;
    position: relative;
    width: 180px;
    padding: 4px 2px 4px 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #474747;
    text-align: left;
}
#profile .content .url a,
#profile .content a{
    cursor: pointer;
    float: left;
    position: relative;
    width: 180px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
    text-align: right;
}
#profile .content .info{
    float: left;
    position: relative;
    width: 180px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    color: #474747;
    text-align: right;
}
#profile .content a.selected {
    color: black;
    border-bottom: 1px dotted grey;
}



#profile .menu {
}
#profile .menu a{
    cursor: pointer;
    position: relative;
    float: right;
    text-align: right;
    margin-top: 2px;
    margin-right: 22px;
    font-size: 16px;
}
#profile .menu a:hover,
#profile .menu a.selected{
    font-weight: 700;
    color: #111;
}

#profile .menu .link {
    float: right;
    text-align: right;
    width: 80%;
    margin-top: 2px;
    margin-right: 22px;
    font-size: 16px;
    padding: 0;
    font-size: 14px;
}

#badges{
    float: left;
    position: relative;
    width: 500px;
    padding: 20px;
}
#badges .header{
    width: 100%;
    float: left;
    font-weight: bold;
}
#badges .collection{
    width: 100%;
    float: left;
    text-align: center;
}
#badges .collection .name{
    width: 90%;
    padding-bottom: 2px;
    text-align: center;
    color: #474747;
    font-size: 16px;
    border-bottom: 1px dotted grey;
}
#badges .collection .name a{
    font-size: 12px;
    margin-left: 5px;
}
#badges .collection .from{
    position: relative;
    float: left;
    width: 95%;
    margin: 5px 0px 4px 40px;
    text-align: left;
    color: #474747;
    font-size: 14px;
}
#badges .collection .from div{
    float: left;
}
#badges .collection .from a{
    float: left;
    margin-left: 10px;
    color: #474747;
    border-bottom: 1px dotted #474747;
    text-decoration: none;
}
#badges .collection .badge{
    float: left;
    position: relative;
    margin: 2px 8px 2px 8px;
    width: 144px;
    height: 182px;
    text-align: center;
}
#badges .collection .badge img{
    float: left;
    height: 144px;
}
#badges .collection .badge .title{
    float: left;
    width: 144px;
    font-size: 16px;
}

#badges .collection .badge.medium{
    float: left;
    position: relative;
    margin: 2px 8px 2px 8px;
    width: 100px;
    height: 120px;
    text-align: center;
}
#badges .collection .badge.medium img{
    float: left;
    max-height: 100px;
    max-width: 100px;
}
#badges .collection .badge.medium .title{
    float: left;
    width: 100px;
    font-size: 12px;
}

#badges .collection .badge.small{
    float: left;
    position: relative;
    margin: 2px 8px 2px 8px;
    width: 72px;
    height: 91px;
    text-align: center;
}
#badges .collection .badge.small img{
    float: left;
    height: 72px;
}
#badges .collection .badge.small .title{
    float: left;
    width: 72px;
    font-size: 12px;
}
