
#profile {
    float: left;
    position: relative;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba(0, 85, 255, 0.1);
    height: 500px;
}
#profile .content .title{
    float: left;
    position: relative;
    width: 180px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
#profile .content .icon{
    float: left;
    position: relative;
    width: 180px;
    padding: 10px;
}
#profile .content .about{
    float: left;
    position: relative;
    width: 180px;
    padding: 4px 2px 4px 6px;
    font-size: 14px;
    color: #474747;
    text-align: left;
}
#profile .content .url a,
#profile .content .link{
    float: left;
    position: relative;
    width: 180px;
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    font-weight: bold;
    color: #474747;
    text-align: left;
}
#profile .content .link.selected,
#profile .content .link:hover {
    color: black;
}


#projects {
    float: left;
    position: relative;
    width: 265px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: rgba(255, 85, 0, 0.1);
    height: 320px;
}
#projects .content {
    float: left;
    position: relative;
    width: 260px;
    padding: 10px;
    font-size: 18px;
}

#badges,
#block{
    float: left;
    position: relative;
    width: 500px;
    padding: 20px;
}
#badges .header{
    width: 100%;
    float: left;
    font-weight: bold;
}
#badges .badge-set{
    width: 100%;
    float: left;
    text-align: center;
}
#badges .badge-set .name{
    width: 90%;
    margin: 4%;
    padding-bottom: 2px;
    text-align: center;
    color: #474747;
    font-size: 16px;
    border-bottom: 1px dotted grey;
}

/* Badge styles for a Project profile page
 *
 */
#badges .badge-set .badge{
    float: left;
    position: relative;
    margin: 2px 8px 2px 8px;
    width: 144px;
    height: 182px;
    text-align: center;
}
#badges .badge-set .badge img{
    float: left;
    height: 144px;
}
#badges .badge-set .badge .title{
    float: left;
    width: 144px;
    font-size: 18px;
}


/* Badge styles for a User profile page
 *
 */
#badges .badge-set .badge.small{
    float: left;
    position: relative;
    margin: 2px 8px 2px 8px;
    width: 72px;
    height: 91px;
    text-align: center;
}
#badges .badge-set .badge.small img{
    float: left;
    height: 72px;
}
#badges .badge-set .badge.small .title{
    float: left;
    width: 72px;
    font-size: 14px;
}




#badges .badge-set .projects{
    width: 100%;
    position: relative;
    float: left;
    padding: 0 0 10px 0;
    color: #5a5a5a;
}
#badges .badge-set .projects .title{
    position: relative;
    float: left;
    margin-left: 35px;
    margin-right: 5px;
    font-size: 12px;
    
}
#badges .badge-set .projects .project{
    position: relative;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
}
#badges .badge-set .projects .project a{
    padding: 1px 2px 1px 2px;
    color: #5a5a5a;
}
#badges .badge-set .projects .project a:hover{
    color: black;
}
