.content-block .input-header {
    position: relative;
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-block .input-overview {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #111;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.content-block .input-row {
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
}
.content-block .input-row.tall{
    height: 100px;
}
.content-block .input-row.auto{
    height: auto;
}
.content-block .input-row label{
    position: relative;
    float: left;
    width: 28%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
}
.content-block .input-row label.long{
    width: 50%;
}
.content-block .input-row .overview {
    position: relative;
    float: left;
    width: 96%;
    margin-left: 3%;
    font-size: 12px;
    color: #1a1a1a;
}
.content-block .input-row .input-column {
    position: relative;
    float: left;
    width: 67%;
    height: 100%;
}
.content-block .input-row .input-column .full {
    position: relative;
    float: left;
    width: 100%;
    height: 25px;
    margin-bottom: 2px;
}
.content-block .input-row .input-column input {
    font-size: 20px;
}
.content-block .input-row .input-column textarea {
    position: relative;
    float: left;
    height: 65px;
    width: 100%;
    margin-bottom: 2px;
}
.content-block .input-row .input-column .description {
    position: relative;
    float: left;
    width: 96%;
    margin-left: 3%;
    font-size: 12px;
    color: #1a1a1a;
}
.content-block .button {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid #ff9533;
    background-color: #ff4500;
    color: white;
    border-radius: 5px;
}
.content-block .button.small {
    border-radius: 2px;
    margin-right: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
    





